/*-----------------------------------*\
  Personnalisation
\*-----------------------------------*/

:root {
  /**
   * couleurs
   */

  --raisin-black-2: hsl(245, 16%, 16%);
  --raisin-black-1: hsl(244, 17%, 19%);
  --majorelle-blue: hsl(219, 79%, 66%);
  --ghost-white-1: hsl(240, 100%, 99%);
  --ghost-white-2: hsl(228, 50%, 96%);
  --white-opacity: hsla(0, 0%, 100%, 0.5);
  --independence: hsl(245, 17%, 27%);
  --lavender-web: hsl(247, 69%, 95%);
  --eerie-black: hsl(210, 11%, 15%);
  --cool-gray: hsl(244, 17%, 61%);
  --sapphire: hsl(211, 100%, 35%);
  --white: hsl(0, 0%, 100%);
  --redMalagasy: hsla(357, 90%, 55%, 0.955);
  --greenMalagasy: hsl(120, 61%, 50%);

  /**
   * Style d'écriture
   */

  --ff-quicksand: "Quicksand", sans-serif;
  --ff-mulish: "Mulish", sans-serif;

  --fs-1: 36px;
  --fs-2: 28px;
  --fs-3: 20px;
  --fs-4: 17px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * espacement
   */

  --section-padding: 100px;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon,
textarea {
  display: block;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  font: inherit;
  width: 100%;
}

html {
  font-family: var(--ff-quicksand);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}

/* re-used style*/

.container {
  padding-inline: 15px;
}

.h1,
.h2,
.h3 {
  color: var(--independence);
  font-family: var(--ff-mulish);
  line-height: 1.2;
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.btn {
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 15px 30px;
  border-radius: 4px;
  transition: var(--transition);
}

.btn:hover,
.btn:focus {
  transform: translateY(-2px);
}

.btn-style {
  border: 1px solid var(--redMalagasy);
  color: var(--redMalagasy);
}

.btn-style:hover,
.btn-style:focus {
  background: var(--greenMalagasy);
  color: var(--white);
  box-shadow: 0 3px 10px hsla(207, 45%, 54%, 0.5);
}

.btn-secondary {
  background: hsla(245, 67%, 59%, 0.15);
  color: var(--majorelle-blue);
}

.section-title {
  text-align: center;
}

.section-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  line-height: 1.7;
  text-align: center;
}

/* HEADER */

header {
  text-align: center;
  background: #1d1d1d;
  color: white;
  padding-bottom: 30px;
}

nav {
  background: white;
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  padding: 15px;
}

.nav-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-ul li a:hover {
  font-size: 1.2rem;
  font-weight: 600;
  color: red;
}
/* HERO */

.hero {
  padding: 80px 0 var(--section-padding);
  background: var(--white);
}

.hero-content {
  margin-bottom: 80px;
}

.hero-title {
  margin-bottom: 25px;
}

.hero-text {
  color: var(--cool-gray);

  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 20px;
}
.knee-word {
  text-transform: uppercase;
  font-size: var(--fs-1);
  font-weight: var(--fw-800);
  color: var(--redMalagasy);
}
.form-text {
  color: var(--independence);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 20px;
}

.hero .btn-primary {
  margin-inline: auto;
}

/* GESTION IMAGE BANNIERE */
.hero-banner {
  perspective: 1000px;
}

.hero-banner img {
  width: 100%;
  border-radius: 5%;
}

footer {
  background: #1d1d1d;
  color: white;
  text-align: center;
  padding: 15px;
}

.separator {
  width: 80px;
  height: 1px;
  margin: 15px auto;
  display: block;
  background: #999999;
}

a {
  text-decoration: none;
}

/* ABOUT 
POSSIBILITER QUE CE SOIT PLUS UTILE SUR FINREC | SEERIC ET VIALEGIS */

.about {
  padding-block: var(--section-padding);
  background: var(--ghost-white-1);
}

.about-content {
  margin-bottom: 30px;
}

.about-icon {
  width: 60px;
  height: 60px;
  background: var(--redMalagasy);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 10px;
}

.about-text {
  color: var(--cool-gray);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-list {
  display: grid;
  gap: 20px;
}

.about-card {
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 12px hsla(233, 77%, 10%, 0.06);
  border-radius: 4px;
  transition: var(--transition);
}

.about-card:hover {
  background: var(--redMalagasy);

  transform: translateY(-5px);
  box-shadow: 0 5px 18px hsla(245, 85%, 63%, 0.4);
}

.about-card .card-icon {
  width: 60px;
  height: 60px;
  background: var(--redMalagasy);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 28px;
  border-radius: 50%;
  margin-inline: auto;
  margin-bottom: 20px;
  transition: var(--transition);
}

.about-card:hover .card-icon {
  background: var(--greenMalagasy);
  color: var(--white);
  box-shadow: 0 0 0 8px hsla(0, 0%, 100%, 0.05);
}

.about-card .card-title {
  margin-bottom: 10px;
  transition: var(--transition);
}

.about-card:hover .card-title {
  color: var(--white);
}

.about-card .card-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  line-height: 1.8;
  transition: var(--transition);
}

.about-card:hover .card-text {
  color: var(--white);
}
/* VIDEOS */

.videos {
  padding-block: var(--section-padding);
  background: var(--white);
}

.videos .section-title {
  margin-bottom: 15px;
}

.videos .section-text {
  margin-bottom: 60px;
}

.videos-wrapper:not(:last-child) {
  margin-bottom: 80px;
}

.videos-banner {
  margin-bottom: 35px;
}

.videos-banner img {
  width: 100%;
  border-radius: 5%;
}

.videos-content-subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-5);
  color: var(--eerie-black);
  margin-bottom: 20px;
}

.videos-content-subtitle span {
  font-size: 1.2rem;
}

.videos-content-subtitle ion-icon {
  color: var(--redMalagasy);
  font-size: 20px;
}

.videos-content-title {
  font-size: var(--fs-2);
  font-family: var(--ff-mulish);
  color: var(--independence);
  font-weight: var(--fw-600);
  margin-bottom: 25px;
}

.videos-content-title strong {
  font-weight: var(--fw-700);
}

.videos-content-text {
  font-size: var(--fs-6);
  color: var(--cool-gray);
  line-height: 1.7;
  margin-bottom: 25px;
}

.videos-list {
  margin-bottom: 40px;
}

.videos-list-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: var(--fs-5);
  color: black;
  margin-bottom: 10px;
}

.videos-list-item ion-icon {
  font-size: 23px;
  color: var(--redMalagasy);
}

.videos-list-item p {
  width: calc(100% - 28px);
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
/* CLASS */

.div-logo {
  margin: auto;
}

.contact {
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  border-radius: 15px;
  max-width: 300px;
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;
}

.contact h4 {
  margin-top: 20px;
}

.contact p {
  display: none;
}

.contact a,
.contact img {
  display: block;
  width: 50px;
  height: 50px;
}

/* ID */

#logo {
  margin: auto;
  width: 240px;
  height: 240px;
  margin-top: 10px;
}
/* POLICES */

@font-face {
  font-family: "Vary";
  src: url(/assets/anandapersonal.ttf) format("truetype");
}

/* RESPONSIVE */

/* responsive pour écran 450px et +*/

@media (min-width: 450px) {
  /* HERO */

  .hero .btn-primary {
    position: absolute;
    top: 5px;
    right: 5px;
    padding-block: 12.5px;
  }

  /* ABOUT */

  .about-card .card-text {
    max-width: 300px;
    margin-inline: auto;
  }
}

/* responsive pour écran 576px et +*/
@media (min-width: 576px) {
  /*Personnalisation*/

  :root {
    --fs-1: 52px;
  }

  /* Re-used */

  .container {
    max-width: 525px;
    margin-inline: auto;
  }

  .section-text {
    max-width: 460px;
    margin-inline: auto;
    margin-bottom: 80px;
  }
}

/* responsive pour écran 768px et +*/

@media (min-width: 768px) {
  /**
     * re-used
     */

  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 645px;
  }

  /**
     * HERO
     */

  .hero :is(.hero-text, .form-text, .hero-form) {
    max-width: 520px;
  }

  .hero-banner {
    max-width: 600px;
    margin-inline: auto;
  }

  /**
     * A PROPOS DE
     */

  .about-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * FOOTER
   */

  .footer-link-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* responsive pour écran 992px et +*/

@media (min-width: 992px) {
  /**
     * re-used
     */

  .container {
    max-width: 1250px;
  }

  .section-text {
    max-width: 450px;
  }

  /**
     * HEADER
     */

  .header {
    overflow: visible;
    padding-block: 0;
    height: unset;
  }

  .header.active {
    height: unset;
  }

  .menu-toggle-btn {
    display: none;
  }

  .navbar {
    position: static;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 40px;
    margin-inline: auto;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navbar-link,
  .header-action-link {
    padding-block: 25px;
  }

  /**
     * HERO
     */

  .hero .container {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    gap: 60px;
  }

  .hero-content {
    margin-bottom: 0;
  }

  /**
     * À PROPOS DE 
     */

  .about .container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .about-content {
    margin-bottom: 0;
    width: 40%;
  }

  .about-list {
    gap: 30px;
    padding-bottom: 50px;
  }

  .about-list li:nth-child(odd) {
    transform: translateY(50px);
  }

  /**
     * VIDEOS
     */

  .videos-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    align-items: center;
    justify-content: space-between;
  }

  .videos-wrapper > * {
    flex: 1;
  }

  .videos-wrapper:nth-child(4),
  .videos-wrapper:nth-child(6) {
    flex-direction: row-reverse;
  }

  .videos-wrapper:not(:last-child) {
    margin-bottom: 100px;
  }

  /**
     * FOOTER
     */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }

  .footer-brand {
    margin-bottom: 0;
    max-width: 300px;
  }

  .footer-list {
    width: 140px;
  }
}

/* responsive pour écran 1200px et +*/

@media (min-width: 1200px) {
  /**
     * re-used
     */

  .container {
    max-width: 1200px;
  }

  /**
     * HERO
     */
  .hero {
    padding: 100px 0 var(--section-padding);
  }

  .hero .container {
    gap: 150px;
  }

  /**
     * VIDEOS
     */
  .videos-banner img {
    transition: transform 0.3s ease; /* Animation douce */
    cursor: pointer; /* Change le curseur en main lors du survol */
  }

  .videos-banner:hover img {
    transform: scale(1.1); /* Grossit l'image de 10% lors du survol */
  }
  /* CONTACT*/
  .contact {
    border: 1px black solid;
    border-radius: 15px;
    max-width: 750px;
    margin: auto;
    padding: 30px;
    margin-bottom: 20px;
  }
  .contact h4 {
    margin-top: 20px;
  }
  .contact p {
    display: block;
    margin-top: 20px;
  }

  .contact img {
    width: 50px;
    height: 50px;
  }
  /**
     * footer
     */

  .footer-link-box {
    margin-right: 40px;
  }

  .footer-list {
    width: 170px;
  }
}
